{% extends 'layouts/base.html' %}

{% block title %}
{{ room.name }} | DjangoChat
{% endblock %}

{% load static %}

{% block custom_css %}
    .chat-box{
        height: 400px;
        overflow-y: auto;
    }
{% endblock %}

{% block body_content %}
    <div class='container mt-5 d-flex flex-column align-items-center'>
        <h1>{% block header %}{{ room.name }}{% endblock header %}</h1>
    </div>

    <div class='container-fluid w-75 p-3 shadow-lg p-3 mb-5 bg-body rounded-3 text-white mt-5 chat-box' id="chat-messages">
        {% for message in messages %}
            <div class="rounded bg-secondary">
                <p class="ms-2 fw-bold">{{ message.user.username }}</p>
                <p class="ms-2">{{ message.content }}</p>
            </div>
        {% endfor %}
    </div>
    <div class='container-fluid w-75 p-3 shadow-lg p-3 mb-5 bg-body rounded-3 text-white'>
        <form action="." method="post" class="d-flex">
            <div class="input-group input-group-lg">
                <input type="text" name="content" class="form-control" placeholder="Enter your message..." id="chat-message-input" aria-describedby="inputGroup-sizing-default">
            </div>
            <button type="submit" class="btn btn-primary ms-3" id="chat-message-submit">Submit</button>
        </form>
    </div>
{% endblock body_content %}

{% block custom_js %}
    {{ room.slug|json_script:"json-roomname" }}
    {{ request.user.username|json_script:"json-username" }}
    <script>
        const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
        const userName = JSON.parse(document.getElementById('json-username').textContent);
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e){
            console.log('onmessage')

            const data = JSON.parse(e.data);

            if(data.message){
                let html = '<div class="rounded bg-secondary">';
                    html += '<p class="ms-2 fw-bold">' + data.username +'</p>';
                    html += '<p class="ms-2">' + data.message + '</p></div>';
                document.querySelector('#chat-messages').innerHTML += html

                scrollToBottom();
                 
            }else{
                alert('The message was empty!');
            }
        };

        chatSocket.onclose = function(e){
            console.log('onclose')
        };

        //

        document.querySelector('#chat-message-submit').onclick = function(e){
            e.preventDefault();

            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;

            chatSocket.send(JSON.stringify({
                'message': message,
                'username': userName,
                'room': roomName
            }));

            messageInputDom.value = '';

            return false;
        };

        function scrollToBottom(){
            const objDiv = document.querySelector('#chat-messages');
            objDiv.scrollTop = objDiv.scrollHeight;
        }

        scrollToBottom();
    </script>
{% endblock %}